* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Raleway";
  font-size: 16px;
  /* background-color: black; */
  /* display: flex; */
}

header {
  /* flex-basis: 20%; */
  width: 15%;
  position: fixed;
  height: 100%;
  background-color: rgb(26, 199, 199);
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.header-info {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav {
  flex-basis: 50%;
  width: 90%;
  /* height: 100%; */
  /* background-color: thistle; */
  margin: auto;
}

ul {
  /* background-color: tomato; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  /* justify-content: space-around; */
  align-items: center;
  color: white;
  letter-spacing: 3px;
  list-style: none;
}

li {
  font-size: 1rem;
  margin-top: 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.icon-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

/* linked in and github icons */
.social-icon {
  /* margin: auto; */
  width: 50px;
}

#title {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* pic of myself for navbar when the screen is full */
#fullscreen-nav-pic {
  border-radius: 100%;
  display: block;
  width: 125px;
  text-align: center;
  margin: 10px auto;
}

.background {
  padding: 1px;
  width: 100%;
  /* background-color: rgb(233, 221, 221); */
  padding-bottom: 20px;
  height: auto;
  margin-top: 30px;
}

.m-0 {
  margin: 0px;
}

.background-grey {
  background-color: rgba(236, 239, 241, 0.938);
}

.background-gradient {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(26, 199, 199),
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  margin-left: 20%;
  margin-right: 15%;
  /* margin-left: 20%; */

  width: 65%;
  padding-top: 60px;
  /* margin-top: 30px; */
}

.about-me p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

#my-photo {
  /* border-radius: 100%; */
  width: 125px;
  border: 3px teal solid;
  display: none;
}

/* buttons resume portfolio */
.buttons {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  /* background-color: lightpink; */
}

.button {
  padding: 10px 40px 10px 30px;
  background-color: lightseagreen;
  border-radius: 10px;
  margin-right: 40px;
  color: white;
  display: flex;
  cursor: pointer;
  margin-top: 0px;
}

.button img {
  margin-right: 10px;
  width: 20px;
}

h1 {
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  box-shadow: -2px -2px 7px white, 2px 2px 10px rgba(175, 194, 214, 0.938);
  height: 250px;
  background-color: rgba(229, 234, 238, 0.938);
  width: 250px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.icon-holder {
  position: absolute;
  top: -4%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  background-color: white;
  display: flex;
}

.icon-holder img {
  margin: auto;
}

/* background with contact square in front of it offset */
.contact-container {
  /* background-color: white; */
  margin-left: 22%;
  margin-right: 13%;
  /* margin-left: 20%; */

  width: 65%;
  /* padding-top: 60px; */
  height: auto;
  background-color: white;
  margin-top: 60px;
  position: relative;
  padding: 70px 20px 20px 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contact-container h1 {
  text-align: center;
}

input,
textarea {
  width: 75%;
  margin-bottom: 20px;
  margin: 0 auto 20px auto;
  padding: 5px 10px;
  font-size: 1rem;
  font-family: "Raleway";
}

#submit-button {
  width: 200px;
  margin-left: 12.5%;
  border: none;
  background: linear-gradient(
    to right,
    rgb(26, 199, 199),
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

#submit-button:hover {
  background: linear-gradient(
    to right,
    rgb(72, 185, 185),
    #5eb8ce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#submit-button:active {
  background: linear-gradient(
    to right,
    rgb(34, 219, 219),
    #23c0e7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* offset card ontop of contact-container */

/* media query */
@media (max-width: 1170px) {
  html {
    font-size: 15px;
  }

  .social-icon {
    display: none;
  }

  header {
    position: static;
    width: 100%;
    height: auto;
    padding: 5px;
  }

  .container {
    margin-left: 0;
    width: 90%;
    margin: auto;
    padding-top: 30px;
  }

  .contact-container {
    margin: auto;
    margin-top: 30px;
    width: 90%;
    padding: 55px 10px 10px 10px;
  }

  /* contact-container form objects */
  input,
  textarea {
    width: 100%;
    margin-bottom: 5px;
  }

  /* header for contacts */
  .contact-container h1 {
    margin-bottom: 10px;
  }

  nav {
    flex-basis: 40%;
    margin-top: 0px;
  }

  ul {
    margin-top: 0px;
    flex-direction: row;
    height: auto;
  }

  #title {
    margin: 10px auto 0px auto;
  }

  #fullscreen-nav-pic {
    display: none;
  }

  .card-container {
    justify-content: left;
  }
}

@media (max-width: 640px) {
  .buttons {
    justify-content: left;
  }

  .button {
    padding: 10px 20px 10px 20px;
    margin-right: 0px;
  }

  .button:nth-child(1) {
    margin-right: 20px;
  }

  .card {
    height: 150px;
    width: 150px;
  }
}

/* cutoff where the contact form needs to look better */
@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }

  textarea {
    font-size: 0.9rem;
  }
}
