* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Raleway";
  font-size: 16px;
  scroll-behavior: smooth;
  /* color: rgb(255, 255, 255); */

  /* display: flex; */
}

a {
  text-decoration: none;
}

/**************** navbar *****************/
header {
  /* flex-basis: 20%; */
  width: 15%;
  position: fixed;
  height: 100%;
  background-color: rgb(26, 199, 199);
  background-color: #154a77;
  background-color: rgb(67, 136, 196);
  /* background-color: #2fdded; */
  /* background-color: #1f1b24; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.header-info {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav {
  flex-basis: 50%;
  width: 90%;
  /* height: 100%; */
  /* background-color: thistle; */
  margin: auto;
}

ul {
  /* background-color: tomato; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  /* justify-content: space-around; */
  align-items: center;
  color: white;
  letter-spacing: 3px;
  list-style: none;
}

li {
  font-size: 1rem;
  margin-top: 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.icon-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

/* linked in and github icons */
.social-icon {
  /* margin: auto; */
  width: 50px;
}

#title {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* pic of myself for navbar when the screen is full */
#fullscreen-nav-pic {
  border-radius: 100%;
  display: block;
  width: 130px;
  text-align: center;
  margin: 10px auto;
}
/**************** end navbar *****************/

.background {
  padding: 1px;
  width: 100%;
  padding-bottom: 30px;
  height: auto;
}

.background-grey {
  background-color: rgba(236, 239, 241, 0.938);
  /* background-color: #242222; */
  /* background-color: rgba(61, 164, 233, 0.938); */
}

.background-grey2 {
  background-color: rgba(180, 201, 218, 0.938);
  /* background-color: #242222; */
  /* background-color: rgba(61, 164, 233, 0.938); */
}

.splash {
  margin-left: 15%;
  width: 85%;
  height: 60vh;
  min-height: 300px;
  background-image: url("../images/computer_background.jpg");
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(46, 42, 42, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.splash-links {
  margin-top: 30px;
  display: flex;
}

.splash-links a {
  width: 60px;
}

.splash-icon:first-child {
  margin-right: 20px;
}

.overlay .text {
  text-align: center;
  /* margin-top: 5%; */
}

.text h1 {
  font-size: 5rem;
}

.text p {
  font-size: 2rem;
}

.m-0 {
  margin: 0px;
}

.background-gradient2 {
  background: linear-gradient(to bottom, rgb(67, 136, 196), #2193b0);
}

/* container that sits within background container */
.container {
  margin-left: 20%;
  margin-right: 5%;
  width: 75%;
  padding-top: 60px;
}

.smaller-container {
  margin-left: 32.5%;
  margin-right: 17.5%;
  width: 50%;
  padding-top: 60px;
  text-align: center;
}

.about-me p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

#my-photo {
  /* border-radius: 100%; */
  width: 125px;
  border: 3px teal solid;
  display: none;
}

/* buttons resume portfolio */
.buttons {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-evenly; */
  /* background-color: lightpink; */
}

.button {
  padding: 10px 40px 10px 30px;
  /* background-color: lightseagreen; */
  /* background-color: #144361; */
  /* background: linear-gradient(to right, #2467a1, #194e7c); */
  background-color: #4388c4;
  border-radius: 2px;
  color: white;
  display: flex;
  cursor: pointer;
  margin-top: 10px;
}

.button:first-child {
  margin-right: 40px;
}

.button:hover {
  background: linear-gradient(to right, #2369a7, #2b7fc9);
}

.button img {
  margin-right: 10px;
  width: 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  height: 150px;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-grey2 {
  box-shadow: -5px -5px 10px rgba(216, 225, 233, 1), 3px 3px 10px rgb(122, 154, 182);
  border-radius: 50%;
  background-color: rgba(180, 201, 218, 0.938);
}

.card-grey {
  box-shadow: -2px -2px 7px white, 2px 2px 10px rgba(175, 194, 214, 0.938);
  background-color: rgba(229, 234, 238, 0.938);
}

#portfolio-title {
  margin-bottom: 45px;
}

.card-bigger {
  height: 350px;
  width: 450px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  /* this is accomodate for title being top: -45px */
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.card-bigger a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project-github {
  padding: 0px 10px;
  position: absolute;
  top: -20px;
  left: 0px;
  width: 100%;
  height: 45px;
  background-color: rgba(180, 201, 218);
  background-color: #4388c4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.github-project-link {
  height: 40px;
}

.portfolio-pic {
  width: 90%;
}

/* mail icon in contact section */
.icon-holder {
  position: absolute;
  top: -4%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  background-color: rgba(229, 234, 238);
  display: flex;
}

/* mail icon */
.icon-holder img {
  margin: auto;
}

/* background with contact square in front of it offset */
.contact-container {
  background-color: rgba(229, 234, 238);
  margin-left: 20%;
  margin-right: 5%;
  width: 75%;
  height: auto;
  margin-top: 60px;
  position: relative;
  padding: 70px 20px 20px 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contact-container h1 {
  text-align: center;
}

input,
textarea {
  border-radius: 5px;
  border: none;
  width: 75%;
  margin-bottom: 20px;
  margin: 0 auto 20px auto;
  padding: 5px 10px;
  font-size: 1rem;
  font-family: "Raleway";
  resize: none;
}

#submit-button {
  width: 200px;
  margin: 15px auto 15px auto;
  border: none;
  background-color: #4388c4;
  color: white;
}

#submit-button:hover {
  background: linear-gradient(to right, #2369a7, #2b7fc9);
}

#submit-button:active {
  background: linear-gradient(
    to right,
    rgb(34, 219, 219),
    #23c0e7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#splash-pic {
  display: none;
  width: 125px;
}

/* offset card ontop of contact-container */

/* media query */
/* cutoff to make the website single column no sidebar */
@media (max-width: 1170px) {
  html,
  body {
    font-size: 15px;
  }

  #splash-pic {
    display: inline-block;
    margin-bottom: 20px;
  }

  #splash-name {
    display: none;
  }

  .smaller-container {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-top: 40px;
    text-align: center;
  }

  .buttons {
    margin-top: 20px;
  }

  .splash {
    margin-left: 0%;
    width: 100%;
  }

  .social-icon {
    display: none;
  }

  header {
    position: static;
    width: 100%;
    height: auto;
    /* height: 13vh; */
    padding: 5px;
  }

  .container {
    margin-left: 0;
    width: 90%;
    margin: auto;
    padding-top: 20px;
  }

  .contact-container {
    margin: auto;
    margin-top: 30px;
    width: 90%;
    padding: 55px 10px 10px 10px;
  }

  /* contact-container form objects */
  input,
  textarea {
    width: 95%;
    margin-bottom: 10px;
  }

  /* header for contacts */
  .contact-container h1 {
    margin-bottom: 15px;
  }

  nav {
    flex-basis: 40%;
    margin-top: 0px;
  }

  ul {
    margin-top: 0px;
    flex-direction: row;
    height: auto;
  }

  #title {
    margin: 10px auto 0px auto;
  }

  #fullscreen-nav-pic {
    display: none;
  }

  .card-container {
    justify-content: space-evenly;
  }

  .portfolio-pic {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .buttons {
    justify-content: center;
  }

  .button {
    padding: 10px 20px 10px 20px;
    margin-right: 0px;
  }

  .button:nth-child(1) {
    margin-right: 20px;
  }

  .card {
    height: 100px;
    width: 100px;
  }

  .card-bigger {
    height: auto;
    width: auto;
  }

  .text h1 {
    font-size: 3.5rem;
  }

  .text p {
    font-size: 1.5rem;
  }
}

/* cutoff where the contact form needs to look better */
@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }

  textarea {
    font-size: 0.9rem;
  }
}

/* for iphone 4 size screens */
@media (max-width: 346px) {
  .button:first-child {
    margin-right: 20px;
    margin-left: 20px;
  }

  #splash-pic {
    display: inline-block;
    margin-bottom: 10px;
  }
}
